<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289465467664-0hpffbm9iecg26dhgr4l23dkvu5qkb5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289465467664-0hpffbm9iecg26dhgr4l23dkvu5qkb5f</string>
	<key>API_KEY</key>
	<string>AIzaSyA3MrRzqdbnz7pqLlDpkQo5Ed_zqBonsww</string>
	<key>GCM_SENDER_ID</key>
	<string>289465467664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randy.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-1e724</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-1e724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289465467664:ios:39ccfd8d336705ba049b95</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-1e724-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>